Package: hid-mapper
Version: 2.0.1
Section: misc
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.11.3)
Maintainer: Sylvain Leroux <sylvain@chicoree.fr>
Description: HID event mapper
 Developed to map USB HID IR remote to keyboard events.
 Should work with any USB HID device.
